# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [8]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [5]:
#code here
#the hypothesis, an independent two-sample t-test

#H0: dragon_hp = grass_hp, there is no difference in average HP between types Dragon and Grass 
#H1: dragon_hp > grass_hp, Pokemons of type Dragon have a higher average HP

#significance level = 5%

dragon_hp = df[df['Type 1'] == 'Dragon']['HP']
grass_hp = df[df['Type 1'] > 'Grass']['HP']


st.ttest_ind(dragon_hp,grass_hp, alternative='greater', equal_var=False)

TtestResult(statistic=2.6147200058625324, pvalue=0.006376667844712506, df=37.815068283119345)

In [ ]:
# Because p_value is lower than significance level, 
# p-value (0.0063) is much smaller than the significance level of 0.05 
# the null hypothesis is rejected. There is strong statistical evidence 
# at the 5% significance level to conclude that Dragon-type PokÃ©mon have, 
# on average, higher HP than Grass-type PokÃ©mon.

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [9]:
#the hypothesis, CLT stats
#H0: mean_legendary == mean_non_legendary, the mean stat for Legendary Pokemons equals that of Non-Legendary Pokemon
#H1: mean_legendary != mean_non_legendary,the means differ 

mean_legendary = df[df['Legendary'] == True]['HP'].mean()
mean_non_legendary = df[df['Legendary'] == False]['HP'].mean()

var_hp_legendary = df[df['Legendary'] == True]['HP'].var(ddof=1)
var_hp_non_legendary = df[df['Legendary'] == False]['HP'].var(ddof=1)

n_legendary = df[df['Legendary'] == True]['HP'].count()
n_non_legendary = df[df['Legendary'] == False]['HP'].count()

# Step 2: Calculate the Standard Error (SE)
SE_hp = np.sqrt((var_hp_legendary / n_legendary) + (var_hp_non_legendary / n_non_legendary))

# Step 3: Calculate the z-score (as the sample size is relatively large, we can use z-test)
z_hp = (mean_legendary - mean_non_legendary) / SE_hp

# Step 4: Calculate the p-value (two-tailed test, large sample size -> normal approximation)
p_value_hp = st.t.sf(abs(z_hp), n_legendary-1)*2 

z_hp, p_value_hp

(8.981370483625048, 6.095960929117945e-13)

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [10]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [12]:
df['longitude'].unique()

array([-114.31, -114.47, -114.56, -114.57, -114.58, -114.59, -114.6 ,
       -114.61, -114.63, -114.65, -114.66, -114.67, -114.68, -114.73,
       -114.94, -114.98, -115.22, -115.32, -115.37, -115.38, -115.39,
       -115.4 , -115.41, -115.46, -115.48, -115.49, -115.5 , -115.51,
       -115.52, -115.53, -115.54, -115.55, -115.56, -115.57, -115.58,
       -115.59, -115.6 , -115.62, -115.64, -115.69, -115.72, -115.73,
       -115.8 , -115.84, -115.85, -115.88, -115.9 , -115.91, -115.93,
       -115.94, -115.95, -115.96, -115.98, -115.99, -116.  , -116.01,
       -116.02, -116.05, -116.06, -116.08, -116.09, -116.11, -116.12,
       -116.14, -116.15, -116.16, -116.17, -116.18, -116.19, -116.2 ,
       -116.21, -116.22, -116.23, -116.24, -116.25, -116.26, -116.27,
       -116.29, -116.3 , -116.31, -116.32, -116.33, -116.34, -116.35,
       -116.36, -116.37, -116.38, -116.39, -116.4 , -116.41, -116.42,
       -116.43, -116.44, -116.45, -116.46, -116.47, -116.48, -116.49,
       -116.5 , -116.51, -116.52, -116.53, -116.54, -116.55, -116.56,
       -116.57, -116.58, -116.6 , -116.61, -116.62, -116.66, -116.67,
       -116.68, -116.71, -116.72, -116.74, -116.75, -116.76, -116.77,
       -116.78, -116.79, -116.8 , -116.82, -116.83, -116.84, -116.85,
       -116.86, -116.87, -116.88, -116.89, -116.9 , -116.91, -116.92,
       -116.93, -116.94, -116.95, -116.96, -116.97, -116.98, -116.99,
       -117.  , -117.01, -117.02, -117.03, -117.04, -117.05, -117.06,
       -117.07, -117.08, -117.09, -117.1 , -117.11, -117.12, -117.13,
       -117.14, -117.15, -117.16, -117.17, -117.18, -117.19, -117.2 ,
       -117.21, -117.22, -117.23, -117.24, -117.25, -117.26, -117.27,
       -117.28, -117.29, -117.3 , -117.31, -117.32, -117.33, -117.34,
       -117.35, -117.36, -117.37, -117.38, -117.39, -117.4 , -117.41,
       -117.42, -117.43, -117.44, -117.45, -117.46, -117.47, -117.48,
       -117.49, -117.5 , -117.51, -117.52, -117.53, -117.54, -117.55,
       -117.56, -117.57, -117.58, -117.59, -117.6 , -117.61, -117.62,
       -117.63, -117.64, -117.65, -117.66, -117.67, -117.68, -117.69,
       -117.7 , -117.71, -117.72, -117.73, -117.74, -117.75, -117.76,
       -117.77, -117.78, -117.79, -117.8 , -117.81, -117.82, -117.83,
       -117.84, -117.85, -117.86, -117.87, -117.88, -117.89, -117.9 ,
       -117.91, -117.92, -117.93, -117.94, -117.95, -117.96, -117.97,
       -117.98, -117.99, -118.  , -118.01, -118.02, -118.03, -118.04,
       -118.05, -118.06, -118.07, -118.08, -118.09, -118.1 , -118.11,
       -118.12, -118.13, -118.14, -118.15, -118.16, -118.17, -118.18,
       -118.19, -118.2 , -118.21, -118.22, -118.23, -118.24, -118.25,
       -118.26, -118.27, -118.28, -118.29, -118.3 , -118.31, -118.32,
       -118.33, -118.34, -118.35, -118.36, -118.37, -118.38, -118.39,
       -118.4 , -118.41, -118.42, -118.43, -118.44, -118.45, -118.46,
       -118.47, -118.48, -118.49, -118.5 , -118.51, -118.52, -118.53,
       -118.54, -118.55, -118.56, -118.57, -118.58, -118.59, -118.6 ,
       -118.61, -118.62, -118.63, -118.64, -118.65, -118.66, -118.67,
       -118.68, -118.69, -118.7 , -118.71, -118.72, -118.73, -118.74,
       -118.75, -118.76, -118.77, -118.78, -118.79, -118.8 , -118.81,
       -118.82, -118.83, -118.84, -118.85, -118.86, -118.87, -118.88,
       -118.89, -118.9 , -118.91, -118.92, -118.93, -118.94, -118.95,
       -118.96, -118.97, -118.98, -118.99, -119.  , -119.01, -119.02,
       -119.03, -119.04, -119.05, -119.06, -119.07, -119.08, -119.09,
       -119.1 , -119.11, -119.12, -119.13, -119.14, -119.15, -119.16,
       -119.17, -119.18, -119.19, -119.2 , -119.21, -119.22, -119.23,
       -119.24, -119.25, -119.26, -119.27, -119.28, -119.29, -119.3 ,
       -119.31, -119.32, -119.33, -119.34, -119.35, -119.36, -119.37,
       -119.38, -119.39, -119.4 , -119.41, -119.42, -119.43, -119.44,
       -119.45, -119.46, -119.47, -119.48, -119.49, -119.5 , -119.51,
       -119.52, -119.53, -119.54, -119.55, -119.56, -119.57, -119.58,
       -119.59, -119.6 , -119.61, -119.62, -119.63, -119.64, -119.65,
       -119.66, -119.67, -119.68, -119.69, -119.7 , -119.71, -119.72,
       -119.73, -119.74, -119.75, -119.76, -119.77, -119.78, -119.79,
       -119.8 , -119.81, -119.82, -119.83, -119.84, -119.85, -119.86,
       -119.87, -119.88, -119.89, -119.9 , -119.91, -119.92, -119.93,
       -119.94, -119.95, -119.96, -119.97, -119.98, -119.99, -120.  ,
       -120.01, -120.02, -120.03, -120.04, -120.05, -120.06, -120.07,
       -120.08, -120.09, -120.1 , -120.11, -120.12, -120.13, -120.14,
       -120.15, -120.16, -120.17, -120.18, -120.19, -120.2 , -120.21,
       -120.22, -120.23, -120.24, -120.25, -120.26, -120.27, -120.28,
       -120.29, -120.3 , -120.31, -120.32, -120.33, -120.34, -120.35,
       -120.36, -120.37, -120.38, -120.39, -120.4 , -120.41, -120.42,
       -120.43, -120.44, -120.45, -120.46, -120.47, -120.48, -120.49,
       -120.5 , -120.51, -120.52, -120.53, -120.54, -120.55, -120.56,
       -120.57, -120.58, -120.59, -120.6 , -120.61, -120.62, -120.63,
       -120.64, -120.65, -120.66, -120.67, -120.68, -120.69, -120.7 ,
       -120.71, -120.72, -120.73, -120.74, -120.75, -120.76, -120.77,
       -120.78, -120.79, -120.8 , -120.81, -120.82, -120.83, -120.84,
       -120.85, -120.86, -120.87, -120.88, -120.89, -120.9 , -120.91,
       -120.92, -120.93, -120.94, -120.95, -120.96, -120.97, -120.98,
       -120.99, -121.  , -121.01, -121.02, -121.03, -121.04, -121.05,
       -121.06, -121.07, -121.08, -121.09, -121.1 , -121.11, -121.12,
       -121.13, -121.14, -121.15, -121.16, -121.17, -121.18, -121.19,
       -121.2 , -121.21, -121.22, -121.23, -121.24, -121.25, -121.26,
       -121.27, -121.28, -121.29, -121.3 , -121.31, -121.32, -121.33,
       -121.34, -121.35, -121.36, -121.37, -121.38, -121.39, -121.4 ,
       -121.41, -121.42, -121.43, -121.44, -121.45, -121.46, -121.47,
       -121.48, -121.49, -121.5 , -121.51, -121.52, -121.53, -121.54,
       -121.55, -121.56, -121.57, -121.58, -121.59, -121.6 , -121.61,
       -121.62, -121.63, -121.64, -121.65, -121.66, -121.67, -121.68,
       -121.69, -121.7 , -121.71, -121.72, -121.73, -121.74, -121.75,
       -121.76, -121.77, -121.78, -121.79, -121.8 , -121.81, -121.82,
       -121.83, -121.84, -121.85, -121.86, -121.87, -121.88, -121.89,
       -121.9 , -121.91, -121.92, -121.93, -121.94, -121.95, -121.96,
       -121.97, -121.98, -121.99, -122.  , -122.01, -122.02, -122.03,
       -122.04, -122.05, -122.06, -122.07, -122.08, -122.09, -122.1 ,
       -122.11, -122.12, -122.13, -122.14, -122.15, -122.16, -122.17,
       -122.18, -122.19, -122.2 , -122.21, -122.22, -122.23, -122.24,
       -122.25, -122.26, -122.27, -122.28, -122.29, -122.3 , -122.31,
       -122.32, -122.33, -122.34, -122.35, -122.36, -122.37, -122.38,
       -122.39, -122.4 , -122.41, -122.42, -122.43, -122.44, -122.45,
       -122.46, -122.47, -122.48, -122.49, -122.5 , -122.51, -122.52,
       -122.53, -122.54, -122.55, -122.56, -122.57, -122.58, -122.59,
       -122.6 , -122.61, -122.62, -122.63, -122.64, -122.65, -122.66,
       -122.67, -122.68, -122.69, -122.7 , -122.71, -122.72, -122.73,
       -122.74, -122.75, -122.76, -122.77, -122.78, -122.79, -122.8 ,
       -122.81, -122.82, -122.83, -122.84, -122.85, -122.86, -122.87,
       -122.88, -122.89, -122.9 , -122.91, -122.92, -122.93, -122.94,
       -122.95, -122.96, -122.97, -122.98, -122.99, -123.  , -123.01,
       -123.02, -123.03, -123.04, -123.07, -123.08, -123.1 , -123.11,
       -123.12, -123.13, -123.15, -123.16, -123.17, -123.18, -123.19,
       -123.2 , -123.21, -123.22, -123.23, -123.24, -123.25, -123.26,
       -123.32, -123.34, -123.35, -123.36, -123.37, -123.38, -123.4 ,
       -123.41, -123.43, -123.48, -123.49, -123.53, -123.54, -123.58,
       -123.59, -123.63, -123.64, -123.66, -123.68, -123.69, -123.7 ,
       -123.71, -123.72, -123.73, -123.75, -123.76, -123.78, -123.79,
       -123.8 , -123.81, -123.82, -123.83, -123.84, -123.85, -123.88,
       -123.91, -123.96, -123.98, -124.  , -124.01, -124.02, -124.03,
       -124.05, -124.06, -124.07, -124.08, -124.09, -124.1 , -124.11,
       -124.13, -124.14, -124.15, -124.16, -124.17, -124.18, -124.19,
       -124.21, -124.22, -124.23, -124.25, -124.26, -124.27, -124.3 ,
       -124.35])

In [17]:
school_longitude = -118
school_latitude = 37
hospital_longitude = -122
hospital_latitude = 34

0        7.692347
1        7.540617
2        7.446456
3        7.438716
4        7.442432
           ...
16995    6.957298
16996    7.064630
16997    8.170410
16998    8.132035
16999    6.949396
Name: distance_to_hospital, Length: 17000, dtype: float64

In [19]:
df['distance_to_school']

0        4.638125
1        4.384165
2        4.773856
3        4.801510
4        4.850753
           ...
16995    7.211380
16996    7.275232
16997    7.944533
16998    7.920227
16999    7.270083
Name: distance_to_school, Length: 17000, dtype: float64

In [55]:
from scipy.spatial.distance import euclidean

school_coords = [-118, 37]
hospit_coords = [-122, 34]

5.0

In [59]:
def calculate_distance(school_coords, hospit_coords):
    """
    Calculate the Euclidean distance between two points.
    
    Parameters:
    school_coords: Coordinates of the first point [longitude, latitude]
    hospit_coords: Coordinates of the second point [longitude, latitude]
    
    Returns:
    The Euclidean distance between the two points(float)
    """
    # Calculate the differences in each dimension (longitude and latitude)
    diff_lon = hospit_coords[0] - school_coords[0]
    diff_lat = hospit_coords[1] - school_coords[1]
    
    # Apply the Euclidean distance formula
    distance = math.sqrt(diff_lon**2 + diff_lat**2)
    
    return distance

In [72]:
import math
df['distance_to_school'] = df.apply(lambda row: calculate_distance([row['longitude'], row['latitude']], school_coords), axis=1)
df['distance_to_hospital'] = df.apply(lambda row: calculate_distance([row['longitude'], row['latitude']], hospit_coords), axis=1)

In [74]:
df['close_far'] = df.apply(lambda row: 'Close' if row['distance_to_school'] < 0.50 or row['distance_to_hospital'] < 0.50 else 'Far', axis=1)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,distance_to_school,distance_to_hospital,close_far
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,4.638125,7.692347,Far
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,4.384165,7.540617,Far
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,4.773856,7.446456,Far
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,4.801510,7.438716,Far
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,4.850753,7.442432,Far
...,...,...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0,7.211380,6.957298,Far
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0,7.275232,7.064630,Far
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,7.944533,8.170410,Far
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,7.920227,8.132035,Far
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0,7.270083,6.949396,Far

In [79]:
df['close_far'].sort_values(ascending=True).unique()

array(['Close', 'Far'], dtype=object)

In [94]:
df_close = df[df['close_far']=="Close"]['median_house_value']
df_far = df[df['close_far']=="Far"]['median_house_value']

In [96]:
from scipy.stats import ttest_ind
t_stat, p_value = ttest_ind(df_close, df_far, equal_var=False)
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference in mean house prices.")
else:
    print("Fail to reject the null hypothesis: No significant difference in mean house prices.")

Reject the null hypothesis: There is a significant difference in mean house prices.